<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <h3> <%= 1 + 2 %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nisi doloremque sapiente alias quasi, inventore temporibus repellendus cumque voluptatibus culpa perferendis impedit iusto veritatis vero voluptates. Illo sequi rerum voluptate.</p>
    <button>Click Me!</button>
</body>
</html>